{% extends 'base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Welcome user: {{user.username}}</div>
  <a href="/logout/">Logout</a>
  <a href="/auth/">Home</a>
  <a href="/manage-items/">Items</a>
  <a href="/search/">Search for items</a>
  <a href="/add-item/">Add items</a>
  <a href="/manage-orders/">Manage your orders</a>
</div>


<h4 class="w3-center" style="padding-top:50">Your Items</h4>
<div style="padding:50">
<table class="w3-table w3-striped w3-center">
{% for item in items_list %}
  <tr>
    <td style="padding:20;">Name: {{item.name}}</td>
    <td style="padding:20;">Available from: {{item.date_from}}</td>
    <td style="padding:20;">Available to: {{item.date_to}}</td>
    <td style="padding:20;">Price per day: {{item.price_day}}</td>
    <td style="padding:20;"><form action = "/delete-item/" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{item.id}}">
          <input class="w3-btn w3-black" type="submit" value="delete">
        </form>
    </td>
      <td>
      <form action = "/update-item/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{item.id}}">
        <input class="w3-btn w3-green" type="submit" value="update">
      </form>
    </td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}