{% extends 'base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Welcome user: {{user.username}}</div>
  <a href="/logout/">Logout</a>
  <a href="/auth/">Home</a>
  <a href="/manage-orders">Orders</a>
  <a href="/manage-items/">Items</a>
  <a href="/search/">Search for items</a>
</div>
<h4 class="w3-center" style="padding-top:50">Your orders</h4>
<div class="w3-center" style="padding:100px;">
<table class="w3-table w3-striped w3-center">
{% for order in od %}
  <tr>
    <td>name : {{order.item.name}}</td>
    <td>days : {{order.days}}</td>
    <td>rent : {{order.rent}}</td>
    <td><form action = "/delete-order/" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{order.id}}">
          <input class="w3-btn w3-red" type="submit" value="delete">
        </form>
    </td>
    <td>
      <form action = "/update-order/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{order.id}}">
        <input class="w3-btn w3-green" type="submit" value="update">
      </form>
    </td>
  </tr>
{% endfor %}
{% endblock %}
</table>
</div>
