{% extends 'base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Welcome: {{user.username}}</div>
  <a href="/logout/">Logout</a>
  <a href="/manage-orders/">Manage your orders</a>
  <a href="/manage-items/">Manage your items</a>
  <a href="/search/">Search for items</a>
</div>
{% csrf_token %}

<div class="w3-container w3-center" style="padding:100px;">
  <div class="w3-display-middle">
{% csrf_token %}
<form class="w3-container" action="/confirm-item-change/" method="post">
  <label>Item name</label>:
  <input type="text" name="name" value={{item.name}}><br><br>
  <label>Available to rent from</label>:
  <input type="date" name="date_from" value={{item.date_from}}><br><br>
  <label>Available to rent to</label>:
  <input type="date" name="date_to" value={{item.date_to}}><br><br>
  <label>Price per day</label>:
  <input type="text" name="price_day" value={{item.price_day}}><br><br>
  <input type="hidden" value= {{item.id}} name="id">
  <input class="w3-btn w3-green" type="submit" value="update item"><br><br>
  <br><br>
</form>
</div>
{% endblock %}
